<mat-card class="example-card">
    <mat-card-title>{{id ? 'Editar Usuário':'Novo Usuário'}}</mat-card-title>
    <mat-card-subtitle>Os campos com (*) são obrigatórios</mat-card-subtitle>

    <mat-card-content>
        <mat-tab-group mat-align-tabs="center">
            <form [formGroup]="form" class="row mx-0 g-3">
                <mat-tab label="Básico">
                    <div class="row mx-0 g-3">


                        <div class="col-12">
                            <mat-form-field>
                                <mat-label>Nome Completo</mat-label>
                                <input formControlName="name" matInput [errorStateMatcher]="matcher" required>
                                <mat-error *ngIf="form.invalid && form.touched">Informe seu nome completo com no mínimo 10 caracteres!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field>
                                <mat-label>E-mail</mat-label>
                                <input formControlName="email" matInput [errorStateMatcher]="matcher" required>
                                <mat-error *ngIf="form.invalid && form.touched">Informe seu email!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field>
                                <mat-label>Senha</mat-label>
                                <input matInput formControlName="senha" [type]="hide ? 'password' : 'text'" [errorStateMatcher]="matcher" required>
                                <mat-error *ngIf="form.invalid && form.touched">Digite uma senha com no mínimo 6 dígitos!</mat-error>
                                <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field>
                                <mat-label>Telefone</mat-label>
                                <input formControlName="telefone" matInput mask="(00) 0 0000-0000" [errorStateMatcher]="matcher" required>
                                <mat-error *ngIf="form.invalid && form.touched">Informe seu telefone!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field>
                                <mat-label>CPF</mat-label>
                                <input formControlName="cpf" matInput mask="000.000.000-00" [errorStateMatcher]="matcher" required>
                                <mat-error *ngIf="form.invalid && form.touched">Digite seu CPF!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <mat-radio-group formControlName="sexo">
                                <mat-radio-button *ngFor="let item of sexoList" [value]="item.id" class="mx-2">
                                    {{item.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="col-12">
                            <mat-slide-toggle formControlName="status">Status</mat-slide-toggle>
                        </div>
                    </div>

                </mat-tab>

                <mat-tab label="Endereço">
                    <div class="row mx-0 g-3">
                        <div class="col-12 col-md-4">
                            <mat-form-field>
                                <mat-label>CEP</mat-label>
                                <input formControlName="cep" matInput mask="00.000-000" [errorStateMatcher]="matcher"  required>
                                <mat-error *ngIf="form.invalid && form.touched">Digite um CEP válido!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-8">
                            <mat-form-field>
                                <mat-label>Logradouro</mat-label>
                                <input formControlName="logradouro" matInput [errorStateMatcher]="matcher" required>
                                <mat-error *ngIf="form.invalid && form.touched">Digite a rua!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-10">
                            <mat-form-field>
                                <mat-label>Bairro</mat-label>
                                <input formControlName="bairro" matInput [errorStateMatcher]="matcher" required>
                                <mat-error *ngIf="form.invalid && form.touched">Digite o bairro!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-2">
                            <mat-form-field>
                                <mat-label>Número</mat-label>
                                <input formControlName="numero" matInput [errorStateMatcher]="matcher" required>
                                <mat-error *ngIf="form.invalid && form.touched">Digite um número!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <mat-form-field>
                                <mat-label>Outros</mat-label>
                                <input formControlName="outros" matInput>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-sm-6">
                            <mat-form-field>
                                <mat-label>UF</mat-label>
                                <mat-select formControlName="uf" [errorStateMatcher]="matcher" required>
                                    <mat-option *ngFor="let estado of estados" [value]="estado.id" >
                                        {{estado.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.invalid && form.touched">Selecione um estado!</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-sm-6">
                            <mat-form-field>
                                <mat-label>Cidade</mat-label>
                                <mat-select formControlName="localidade" [errorStateMatcher]="matcher" required>
                                    <mat-option *ngFor="let cidade of cidades" [value]="cidade.id">
                                        {{cidade.nome}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.invalid && form.touched">Selecione uma cidade!</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
            </form>

        </mat-tab-group>
    </mat-card-content>

    <mat-card-actions class="d-flex px-3">
        <button class="ms-auto" mat-button (click)="back()">Voltar</button>
        <button [disabled]="form.invalid" (click)="salvar()" mat-raised-button color="primary">Salvar</button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>