<form [formGroup]="form" class="row">
    <div class="col-12">
        <mat-form-field>
            <mat-label>Nome Completo</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
    </div>
    
    <div class="col-12">
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input formControlName="email" matInput>
        </mat-form-field>
    </div>    
    
    <div class="col-12">
        <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input formControlName="telefone" matInput mask="(00) 0 0000-0000">
        </mat-form-field>
    </div>

    <div class="col-12">
        <mat-radio-group formControlName="sexo">
            <mat-radio-button *ngFor="let item of sexoList" [value]="item.id">{{item.name}}</mat-radio-button>
          </mat-radio-group>
    </div>

    <div class="col-12">
        <mat-slide-toggle formControlName="status">Status</mat-slide-toggle>
    </div>

    <div class="col-12">
        <button [disabled]="form.invalid" (click)="salvar()" mat-raised-button color="primary">Salvar</button>
    </div>
</form>
