<div class="d-flex">
    <h2 class="me-auto" mat-dialog-title>Detalhes do Usuário</h2>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <div class="row g-3">
        <div class="col-12">
            <small class="text-gray d-block">Nome</small>
            <label>{{dataConfig.name}}</label>
        </div>

        <div class="col-4">
            <small class="text-gray d-block">CPF</small>
            <label>{{dataConfig.cpf | mask: '000.000.000-00'}}</label>
        </div>

        <div class="col-4">
            <small class="text-gray d-block">Sexo</small>
            <label>{{dataConfig.sexo}}</label>
        </div>

        <div class="col-4">
            <small class="text-gray d-block">Status</small>
            <ng-container *ngIf="dataConfig.status; else elseTemplate">
                <span class="text-success">Ativado</span>
            </ng-container>
            <ng-template #elseTemplate>
                <span class="text-danger">Desativado</span>
            </ng-template>
        </div>

        <div class="col-4">
            <small class="text-gray d-block">Telefone</small>
            <label>{{dataConfig.telefone | mask: '(00) 0 0000-0000'}}</label>
        </div>

        <div class="col-4">
            <small class="text-gray d-block">Email</small>
            <label>{{dataConfig.email}}</label>
        </div>

        <div class="col-4">
            <small class="text-gray d-block">Senha</small>
            <label>{{hide ? '******': dataConfig.senha}}</label>
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </div>
    </div>

    <h5 class="mt-5">Endereço</h5>
    <hr>

    <div class="row g-3">
        <div class="col-4">
            <small class="text-gray d-block">CEP</small>
            <label>{{dataConfig.cep | mask: '00.000-000'}}</label>
        </div>

        <div class="col-4">
            <small class="text-gray d-block">Número</small>
            <label>{{dataConfig.numero}}</label>
        </div>

        <div class="col-4">
            <small class="text-gray d-block">Logradouro</small>
            <label>{{dataConfig.logradouro}}</label>
        </div>

        <div class="col-4">
            <small class="text-gray d-block">Bairro</small>
            <label>{{dataConfig.bairro}}</label>
        </div>

        <div class="col-4">
            <small class="text-gray d-block">UF</small>
            <label>{{dataConfig.uf}}</label>
        </div>

        <div class="col-4">
            <small class="text-gray d-block">Cidade</small>
            <label>{{dataConfig.cidade}}</label>
        </div>

        <div class="col-12">
            <small class="text-gray d-block">Outros</small>
            <label>{{dataConfig.outros}}</label>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [mat-dialog-close]="true"
        [routerLink]="['./usuario/editar', dataConfig.id]" cdkFocusInitial>Editar</button>
</mat-dialog-actions>