<mat-nav-list role="list" class="item-menu">
    <mat-list-item role="listitem" routerLinkActive="selected">
        <a [routerLink]="['home']">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>
    </mat-list-item>
    <mat-list-item role="listitem" routerLinkActive="selected">
        <a [routerLink]="['usuario']">
            <mat-icon>person</mat-icon>
            <span>Usuário</span>
        </a>
    </mat-list-item>
    <mat-list-item role="listitem" routerLinkActive="selected">
        <a [routerLink]="['cliente']">
            <mat-icon>group</mat-icon>
            <span>Cliente</span>
        </a>
    </mat-list-item>
    <mat-list-item role="listitem" routerLinkActive="selected">
        <a [routerLink]="['produtos']">
            <mat-icon>store</mat-icon>
            <span>Produtos</span>
        </a>
    </mat-list-item>
</mat-nav-list>