<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Angular</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'side' : 'over'" [opened]="mobileQuery.matches">
        <app-sidenav></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="px-5 mt-5">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>