<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Angular</span>

    <button mat-button class="ms-auto" [matMenuTriggerFor]="menu">{{nome}}</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>lock</mat-icon>
            <span>Trocar Senha</span>
        </button>
        <button mat-menu-item class="red-color">
            <mat-icon class="red-color">logout</mat-icon>
            <span>Sair</span>
        </button>
    </mat-menu>

    
</mat-toolbar>

<mat-sidenav-container class="menu-container">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'side' : 'over'" [opened]="mobileQuery.matches">
        <app-sidenav></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="px-5 mt-5">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>